# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Secrets / overrides locales
.env
configs/params.local.yml
configs/secrets.*

.ipynb_checkpoints/

# Data & outputs
data/**
!data/.gitkeep
experiments/runs/**
experiments/artifacts/**
!experiments/runs/.gitkeep
!experiments/artifacts/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
